* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.main-container {
    display: grid;
    place-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    height: auto;
}

.main-container-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 2rem;
    font-size: 1.6rem;
    height: 200px;
}

.main-container-items input {
    width: 102px;
    height: 25px;
    border-radius: 8px;
    text-align: center;  
}

.main-container-items input::-webkit-inner-spin-button,
.main-container-items input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.main-container-items button {
    width: 102px;
    height: 25px;
    border-radius: 8px;
    border: none;
    background-color: rgb(113, 214, 159);
    font-weight: bold;
    color: white;
} 

.main-container-items span {
    font-size: 20px;
    font-weight: bold;
}

/* Triangulo */

.container-input {
    display: flex;
    justify-content: space-between;
}

.container-input input {
    width: 45px;
}



